body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 24px 96px;
}

.first {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
}

.second {
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.second .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}

.secondC, .ul{
    flex-shrink: 0;
    width: 60%;
    font-size: 18px;
    color: #E5E7EB;
}

.second .button {
    border: none;
}

.second .right{
    flex-shrink: 0;
    width: 50%;
}

.infoh {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 24px;
}

.infoc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 24px;
}

.info > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.content2 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 36px;
}

ul {
    list-style: none;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 48px 96px;
    padding: 24px;
    text-align: left;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.footerH {
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: white;
    width: 120px;
    border-radius: 8px;
    border-color: white;
}

